<footer class="text-center bg-light py-4">
    <div>
        <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="mx-2">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <p class="mt-2">&copy; 2024 Everything is reserved to me, baby.</p>
</footer>
