h1 {
  transform: rotate(-3deg);
  text-align: right;
  color: cyan;
  background-color: blueviolet;
  padding: 0.6rem;
}
.costumbutton {
  border: 1px solid blueviolet;
  border-radius: 15px;

  font-size: 1.2rem;
  background: #f1f0e8;
  border: 1px solid blueviolet;
}
.buttonl {
  transform: rotate(-13deg);
}
.buttonr {
  transform: rotate(7deg);
}
.text {
  color: blueviolet;
  text-decoration: none;
}

#light {
  color: blueviolet;
}

#dark {
  color: blueviolet;
}

.costumbutton:hover {
  background: #8d9f9c;
}
.container {
  transform: rotate(-3deg);
  background: cyan;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  -webkit-backdrop-filter: blur(5px);
}
.videpsup {
  background-color: yellow;
  z-index: 2;
  color: rgb(255, 84, 212);
  transform: rotate(-8deg);
  font-weight: bold;
  border-radius: 15px;
}

.center {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
}

.name {
  background-color: rgb(255, 84, 212);
}
