h1 {
  transform: rotate(-3deg);
  text-align: right;
  color: cyan;
  background-color: blueviolet;
  padding: 0.6rem;
}
video {
  background: rgb(255, 247, 0);
  width: 100%;
  height: auto;
}

.costumbutton {
  border: 1px solid blueviolet;
  border-radius: 15px;
  width: 100%;
  background-color: #f1f0e8;
}

.buttonl {
  transform: rotate(-13deg);
  width: 100%;
}

.buttonr {
  transform: rotate(7deg);
  width: 100%;
}

.text {
  color: blueviolet;
  text-decoration: none;
}

#light,
#dark {
  color: blueviolet;
}

.costumbutton:hover {
  background: #8d9f9c;
}

.container {
  transform: rotate(-3deg);
  background: cyan;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 1rem;
  border-radius: 15px;
}

.videpsup {
  background-color: yellow;
  z-index: 2;
  color: rgb(255, 84, 212);
  transform: rotate(-8deg);
  font-weight: bold;
  border-radius: 15px;
  position: absolute;
  bottom: 10px;
  left: 1px;
  padding: 0.2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5 1rem;
}

.name {
  background-color: rgb(255, 84, 212);
  position: relative;
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
    transform: rotate(0deg);
  }

  .container {
    transform: rotate(0deg);
    padding: 1rem;
  }

  .buttonl,
  .buttonr {
    transform: rotate(0deg);
  }

  .videpsup {
    transform: rotate(0deg);
    position: static;
    padding: 0.1rem;
    border-radius: 0;
  }
}
