<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner text-photo">
    <div class="carousel-item active">
      <img src="image_9.jpg" class="d-block img" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="image_2.jpg" class="d-block img" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="image_3.jpg" class="d-block img" alt="..." />
    </div>
    <div class="photograph">
      <div id="profil"><img class="costel" src="profile.png" alt="" /></div>
      <div class="text">
        <h1>HI I'M<span> COSTEL GIGOLO</span></h1>
        <h4>Photographer</h4>
      </div>
    </div>
  </div>
</div>
