<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner text-photo">
    <div class="carousel-item active">
      <img src="funny-hero-2.jpg" class="d-block img" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="funny-hero-1.jpg" class="d-block img" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="funny-hero.jpg" class="d-block img" alt="..." />
    </div>
    <div id="profil" class="photograph">
      <audio #hoverSound src="Morgan2.m4a" preload="auto"></audio>
      <img
        class="costel"
        src="terry.png"
        alt=""
        (mouseenter)="playSound()"
        (mouseleave)="stopSound()"
      />
      <div class="text">
        <h1>HI I'M<span> COSTEL GIGOLO</span></h1>
        <h4>Photographer</h4>
      </div>
    </div>
  </div>
</div>
