<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="#home">
      <p id="signature">Costel Gigolo</p>
    </a>
    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
      &#9776;
    </button>
    <ul class="navbar-nav ms-auto d-flex flex-row">
      <li class="nav-item rotate">
        <a class="me-1" href="#gallery"><i>Gallery</i></a>
      </li>
      <li class="nav-item rotate2">
        <a class="me-2" href="#about"><em>About</em></a>
      </li>
      <li class="nav-item rotate3">
        <a class="me-3" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
