<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home"
      ><span id="light">Costel</span><span id="dark"> Gigolo</span>
    </a>
    <ul class="navbar-nav ms-auto d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link me-3" href="#gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link me-3" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link me-3" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
