.navbar {
  background-color: #f4f6c7;
}
#light {
  color: #8f076b;
}

#dark {
  color: #96b6c5;
}

.navbar-nav {
  background-color: #a3efe9;
  margin-left: auto;
  width: 70em;
  height: 4rem;
}

.navbar-nav .nav-link {
  margin-right: 15px;
  color: #96b6c5;
}
/* 
@media (min-width: 768px) {
  .offcanvas {
    display: none;
  }
} */

.me-1 {
  color: rgb(255, 174, 0);
  margin-top: 1em;
  margin-left: 2rem;
  font-size: 40px;
}

.rotate {
  transform: rotate(60deg);
}

.rotate2 {
  transform: rotate(-13deg);
  margin-top: 3em;
}
.me-2 {
  color: rgb(108, 180, 0);
  font-size: 35px;
  margin-left: 20rem;
}

.me-3 {
  color: rgb(255, 0, 0);
  font-size: 4.5rem;
  margin-left: 5rem;

}

.rotate3 {
  transform: rotate(5deg);
}

#signature {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3.5rem;
  transform: rotate(-20deg);
  margin-left: 3em;
}

