.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  background: #f1f0e8;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 5px 5px;
  color: #96b6c5;
}

.heading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.grid-heading {
  position: absolute;
  z-index: 10;
  height: 170px;
  width: 170px;

  animation: moveAlongBorder 100s linear infinite;
}

@keyframes moveAlongBorder {
  0% {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
  25% {
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
}

.image-container {
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  display: cover;

  transition: transform 0.3s ease;
}

.load-more-button {
  display: block;
  font: 1.5em sans-serif;
  transition: transform 0.3s ease;
  color: #96b6c5;
  padding: 1rem;
  background: #f1f0e8;
  border-radius: 15px;
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
}

.image-container:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  background: rgba(200, 161, 42, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
}

.modal img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.modal-content p {
  color: black;

  margin-top: 0.5rem;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .grid-heading {
    font-size: 1.5rem;
    padding: 0.3rem 0.6rem;
  }
}
