<h1>SUPER AMAZING FOTOS</h1>
<div class="grid">
  <audio #hoverSound src="pig.mp3" preload="auto"></audio>
  <audio #hoverSound1 src=" turkey.mp3" preload="auto"></audio>

  <img
    class="grid-heading"
    src="terry_small.png"
    alt="head"
    (mouseenter)="playSound()"
    (mouseleave)="stopSound()"
  />

  <div
    class="image-container"
    *ngFor="let image of images | slice : 0 : displayLimit"
    (click)="openImage(image)"
  >
    <img [src]="image.src" [alt]="image.name" loading="lazy" />
    <div class="overlay">
      <p>Title: {{ image.name }}</p>
      <p>Location: {{ image.loacation }}</p>
      <p>Year: {{ image.year }}</p>
      <p>Price: {{ image.price }}€</p>
    </div>
  </div>

  <button
    class="load-more-button"
    *ngIf="!allImagesLoaded"
    (click)="loadMore()"
  >
    Give me more!
  </button>
</div>

<div *ngIf="selectedImage" class="modal" (click)="closeModal()">
  <div class="modal-content">
    <img [src]="selectedImage.src" [alt]="selectedImage.name" />
  </div>
</div>
