<div class="grid">
  <img
    class="landscape"
    src="https://assets-online.ebisu.com/images/boots.jpg"
    alt=""
    width="1980"
    height="1512"
  />
  <img
    class="portrait"
    src="https://assets-online.ebisu.com/images/shirts.jpg"
    alt=""
    width="1320"
    height="1980"
  />
  <img
    class="landscape"
    src="https://assets-online.ebisu.com/images/shop.jpg"
    alt=""
    width="1600"
    height="1144"
  />
  <img
    class="portrait"
    src="https://assets-online.ebisu.com/images/bag.jpg"
    alt=""
    width="1320"
    height="1980"
  />
  <img
    class="landscape"
    src="https://assets-online.ebisu.com/images/socks.jpg"
    alt=""
    width="1920"
    height="1080"
  />
  <img
    class="portrait"
    src="https://assets-online.ebisu.com/images/tshirts.jpg"
    alt=""
    width="1224"
    height="1980"
  />
  <img
    class="landscape"
    src="https://assets-online.ebisu.com/images/watch.jpg"
    alt=""
    width="1920"
    height="1080"
  />
  <img
    class="landscape"
    src="https://assets-online.ebisu.com/images/shelf.jpg"
    alt=""
    width="1920"
    height="1080"
  />
  <img
    class="portrait"
    src="https://assets-online.ebisu.com/images/shirts.jpg"
    alt=""
    width="1320"
    height="1980"
  />
  <img
    class="landscape"
    src="https://assets-online.ebisu.com/images/socks.jpg"
    alt=""
    width="1920"
    height="1080"
  />
  <img
    class="landscape"
    src="https://assets-online.ebisu.com/images/shop.jpg"
    alt=""
    width="1600"
    height="1144"
  />
  <img
    class="portrait"
    src="https://assets-online.ebisu.com/images/bag.jpg"
    alt=""
    width="1320"
    height="1980"
  />
  <img
    class="landscape"
    src="https://assets-online.ebisu.com/images/boots.jpg"
    alt=""
    width="1980"
    height="1512"
  />
  <img
    class="landscape"
    src="https://assets-online.ebisu.com/images/shelf.jpg"
    alt=""
    width="1920"
    height="1080"
  />
  <img
    class="landscape"
    src="https://assets-online.ebisu.com/images/watch.jpg"
    alt=""
    width="1920"
    height="1080"
  />
</div>
