<audio #hoverSound src="razecar.mp3" preload="auto"></audio>
<div id="testimonialsCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="img">
        <img src="profil.jpg" alt="Testimonial 1" />
      </div>
      <h2>Costel Gigolo</h2>
      <p>
        My mother said I'm the best photographer in the world. No one can beat
        me.
      </p>
    </div>
    <div class="carousel-item">
      <div class="img">
        <img src="costel_mother.jpg" alt="Testimonial 2" />
      </div>
      <h2>Costel Mother</h2>
      <p>I didn't say any of that! Stop spreading rumors about me!</p>
    </div>
    <div class="carousel-item">
      <div class="img">
        <img src="costel_brother.jpg" alt="Testimonial 3" />
      </div>
      <h2>Costel Brother</h2>
      <p>
        Mom stopped talking to me because of you! Stop lying on the internet or
        we won't get albondigas for dinner!
      </p>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#testimonialsCarousel"
    data-bs-slide="prev"
    (mouseenter)="playSound()"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#testimonialsCarousel"
    data-bs-slide="next"
    (mouseenter)="playSound()"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
