#testimonialsCarousel
{
	transform: rotate(-3deg);
	margin-top: 100px;
    margin-bottom: 50px; 
    background-color: cyan
}


.carousel-item
{
	background-color: purple
	padding-top: 20px;
	padding-bottom: 20px; 
	padding: 20px; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon 
{
    background-color: rgb(58, 58, 58); 
    padding: 5px;
	border-radius: 50%;

}

.carousel-control-prev,
.carousel-control-next 
{
    color: rgb(18, 18, 18); 
}
